* {
  padding: 0;
  margin: 0;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #707070;
  color: rgba(255, 102, 0, 0.863);
}


.ulrich {
  color: white;
}

h1 {
  margin: 0px 0px 0px 10px;
}

ul li {
  list-style: none;
  display: inline;
  margin: 0px 10px 0px 0px;
  font-size: medium;
  color:rgba(255, 102, 0, 0.863)
  }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}