* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  padding: 20px;
  background-color: #807f7f;
  color: rgba(255, 102, 0, 0.863);
}


.ulrich {
  color: white;
}

h1 {
  margin: 0px 0px 0px 80px;
}


ul li {
  list-style: none;
  display: inline;
  margin: 0px 10px 0px 0px;
  font-size: medium;
  color:white;
  text-shadow: rgba(255, 102, 0, 0.863) 0px 0px 39px;
  }

.flex {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

/* Background IMG underneath header */
.t-falls {
  height: 250px;
  width: 100%;
  background-image: url("../images/IMG-2988.jpg");
  background-size: cover;
  background-position: center;
  color:rgba(255, 102, 0, 0.863);
	font-size: 47px;
	-webkit-text-stroke: 1px white;
}

/* bottom right text on top of background img*/
.t-falls-t {
  position: absolute;
  bottom: 300px;
  right: 30px;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 102, 0, 0.863);
}

.about-me {
  background-color: #b8b6b6;
}

footer {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #707070;
  color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.msu {
  color:rgba(2, 128, 2, 0.842);
  font-weight: bold;
}


/* found code for Circular Image on WebFX (below two classes):
https://www.webfx.com/blog/web-design/circular-images-css/#:~:text=The%20main%20CSS%20property%20responsible%20for%20the%20circular%20shape%20is,height%20results%20in%20a%20circle. */
.circular--portrait {
  position: relative;
  left: -598px;
  width: 68px;
  height: 68px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-sizing: 500px;
  -moz-border-radius: 500px;
}

.circular--portrait img {
  width: 100%; height: auto;
}


/* use these when I start adding sections/blocks in my index.html*/

/* used for making grids of the same sizes */
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 4;
}

/* used for overlaying a card with a title */
.card-header-t-falls {
  position: relative;
  margin-top: -20px;
}